<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LinkFilter</filter-name>
        <filter-class>controller.LinkFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AnimeWatchFilter</filter-name>
        <filter-class>controller.AnimeWatchFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AnimeWatchFilter</filter-name>
        <servlet-name>AnimeView</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AnimeWatchFilter</filter-name>
        <servlet-name>AnimeWatch</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LinkFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>controller.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>auth</servlet-name>
        <servlet-class>controller.account.auth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Homepage</servlet-name>
        <servlet-class>controller.Homepage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reg</servlet-name>
        <servlet-class>controller.account.reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnimeWatch</servlet-name>
        <servlet-class>controller.anime.AnimeWatch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnimeView</servlet-name>
        <servlet-class>controller.anime.AnimeView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnimeSubscribe</servlet-name>
        <servlet-class>controller.anime.AnimeSubscribe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnimeErrReport</servlet-name>
        <servlet-class>controller.anime.AnimeErrReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/tim-kiem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>auth</servlet-name>
        <url-pattern>/tai-khoan/auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Homepage</servlet-name>
        <url-pattern>/homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reg</servlet-name>
        <url-pattern>/tai-khoan/reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnimeWatch</servlet-name>
        <url-pattern>/anime/watch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnimeView</servlet-name>
        <url-pattern>/anime/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnimeSubscribe</servlet-name>
        <url-pattern>/anime/subscribe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnimeErrReport</servlet-name>
        <url-pattern>/anime/report</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
